<div class="card">
    <div class="card-content">
        <div class="card-header delinear">
            <h4 class="modal-title">Carro de Compras</h4>
        </div>
        <div class="card-body">
            @if (items.length > 0) {
            <table class="table table-striped table-hover align-middle table-responsive small">
                <thead>
                    <tr class="text-center">
                        <th>#</th>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cant.</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of items; track $index) {
                    <tr class="text-center">
                        <td>{{$index + 1}}</td>
                        <td class="text-start"> {{item.product.name}} </td>
                        <td> {{priceFormat(item.product.price)}} </td>
                        <td> {{item.quantity}} </td>
                        <td> {{priceFormat(item.product.price * item.quantity)}} </td>
                        <td><button class="btn btn-danger btn-sm" (click)="onDeleteCart(item.product.id)"><i
                                    class="bi bi-trash-fill"></i></button></td>
                    </tr>
                    }
                </tbody>
                <tfoot>
                    <tr class="fw-bold">
                        <td colspan="2"></td>
                        <td class="text-end" colspan="1">Total:</td>
                        <td class="text-center" colspan="1">{{getTotal()}}</td>
                        <td class="text-center" colspan="1"> {{priceFormat(total)}} </td>
                        <td colspan="1"></td>
                    </tr>
                </tfoot>
            </table>
            } @else {
            <div class="alert alert-warning">No hay elementos en el carro!</div>
            }
        </div>
    </div>
</div>